body {
    margin: 0px;
    overflow: hidden;
    text-align: center;
    color: white;
  }
  
  h1 {
    position: absolute;
    width: 100%;
    z-index: 1;
    font-size: 1.5rem;
  }
  
  a {
    color: white;
  }
  a:hover{
    color: purple;
  }
  
  #scene-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }